*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.game {
  display: flex;
  flex-flow: row wrap;
  margin: 100px auto;
  width: 450px;
}

.square{
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 100px;
  font-weight: bold;
  line-height: 150px;
  border: 2px solid black;
}
